body {
  min-width: 403px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  text-align: center;
}

.contents {
  width: 60%;
}

#data {
  width: 100%;
}

@media only screen and (max-width: 980px) {
  .contents {
    padding-top: 20px;
    width: 90%;
  }

  .contents h1 {
    padding-right: 110px;
  }

  #logo {
    padding-right: 90px;
  }
}